<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Shiro</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<!-- 自定义ini配置文件位置 -->
		<param-name>shiroConfigLocations</param-name>
		<!-- 
			文件前缀
				file:/home/foobar/myapp/shiro.ini
			  	classpath:com/foo/bar/shiro.ini
			  	url:http://confighost.mycompany.com/myapp/shiro.ini
		 -->
		<param-value>classpath:iniconfig/</param-value>
	</context-param>
	<listener>
		<!-- 
			默认实例化IniWebEnvironment对象，基于ini文件配置，包含了Shiro必要的对象，包含SecurityManager对象，并绑定在ServletContext中
		 	可以通过WebUtils.getRequiredWebEnvironment(servletContext)获取WebEnvironment对象
		 	IniWebEnvironment默认从 /WEB-INF/shiro.ini、classpath:shiro.ini加载配置 
		 -->
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
</web-app>